absl-py==1.2.0
aiofiles==0.6.0
aioredis==1.3.1
altgraph==0.17.2
amqp==5.1.1
aniso8601==9.0.1
anticaptchaofficial==1.0.43
anyio==3.6.1
appdirs==1.4.4
APScheduler==3.6.3
arabic-reshaper==2.1.3
argcomplete==1.11.1
asgi-csrf==0.8
asgiref==3.3.1
aspose-cells==22.9.0
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==22.1.0
autobahn==22.1.1
Automat==20.2.0
Babel==2.9.0
backports.entry-points-selectable==1.1.0
bake-cli==0.12.0
beautifulsoup4==4.6.0
bidict==0.22.0
billiard==3.6.4.0
black==21.10b0
bleach==5.0.0
bootstrap4==0.1.0
boto==2.49.0
braces.py==0.4.0
bs4==0.0.1
CacheControl==0.12.11
cachetools==4.2.2
calc==1.0
cap==0.0.114
celery==5.2.7
certifi==2020.12.5
cffi==1.15.1
channels==3.0.4
channels-redis==3.3.1
chardet==4.0.0
charset-normalizer==2.1.1
clarifai==2.6.2
click==7.1.2
click-default-group==1.2.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.2.0
colorama==0.4.4
colorlog==6.6.0
commonmark==0.9.1
comtypes==1.1.11
configparser==5.0.2
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
crayons==0.4.0
cryptography==35.0.0
cssselect==1.1.0
cssselect2==0.4.1
cssutils==2.6.0
cvzone==1.5.6
cycler==0.10.0
daphne==3.0.2
dataclasses==0.6
datasette==0.54
decorator==4.4.2
defusedxml==0.7.1
delegator.py==0.1.1
Deprecated==1.2.13
distlib==0.3.3
dj-database-url==0.5.0
dj-email-url==1.0.2
dj-static==0.0.6
Django==3.1.7
django-allauth==0.45.0
django-bootstrap4==22.1
django-braces==1.15.0
django-cache-url==3.2.3
django-ckeditor==5.8.0
django-cors-headers==3.11.0
django-countries==7.2.1
django-crispy-forms==1.13.0
django-embed-video==1.4.0
django-extra-views==0.13.0
django-filter==21.1
django-haystack==3.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-mathfilters==1.0.0
django-modeltranslation==0.18.2
django-mptt==0.13.4
django-mptt-autocomplete==0.1.3
django-oscar==3.0.2
django-pandas==0.6.6
django-paypal==1.1.1
django-phonenumber-field==3.0.1
django-progressiveimagefield==0.1.5
django-qr-code==2.2.0
django-rest-auth==0.9.5
django-scss==0.6.1
django-sesame==2.4
django-social-share==2.2.1
django-sslserver==0.22
django-tables2==2.3.4
django-taggit==3.0.0
django-translator==1.0.15
django-treebeard==4.4
django-websocket-redis==0.6.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
djongo==1.3.6
dlib @ file:///C:/Users/Dell/Desktop/facerecog/dlib-19.22.99-cp39-cp39-win_amd64.whl
docker==5.0.3
docutils==0.18.1
draftjs-exporter==2.1.7
durationpy==0.5
easyocr==1.6.2
EasyProcess==0.3
editdistance==0.6.0
efficientnet==1.0.0
emoji==1.5.0
enum34==1.1.10
environs==8.0.0
essential-generators==1.0
et-xmlfile==1.1.0
face-recognition==1.3.0
face-recognition-models==0.3.0
factory-boy==3.2.0
fake-useragent==0.1.11
Faker==6.4.1
fer==22.4.0
filelock==3.3.1
firebase==3.0.1
firebase-admin==5.4.0
flake8==3.8.4
Flask==2.2.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-SocketIO==4.3.1
flatbuffers==22.9.24
fonttools==4.37.4
frontend==0.0.3
future==0.18.2
gast==0.4.0
gevent==21.12.0
google-api-core==2.10.1
google-api-python-client==2.64.0
google-auth==2.12.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-firestore==2.7.1
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.4
googletrans==3.0.0
greenlet==1.1.2
grpcio==1.49.1
grpcio-status==1.49.1
gunicorn==20.0.4
gym==0.26.1
gym-notices==0.0.8
h11==0.12.0
h2==3.2.0
h5py==3.7.0
hiredis==2.0.0
hjson==3.0.1
hpack==3.0.0
hstspreload==2021.9.1
html2text==2020.1.16
html5lib==1.1
httpcore==0.12.2
httplib2==0.20.2
httpx==0.16.1
huepy==1.2.1
hupper==1.10.2
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
igramscraper==0.3.2
imageio==2.17.0
imageio-ffmpeg==0.4.7
imgaug==0.4.0
importlib-metadata==3.4.0
imutils==0.5.4
incremental==21.3.0
influxdb-client==1.25.0
iniconfig==1.1.1
instabot==0.117.0
instagram==1.3.4
instagram-private-api==1.6.0.0
instaloader==4.8.1
instapy==0.6.13
iso8601==0.1.16
isort==5.7.0
itsdangerous==1.1.0
itypes==1.2.0
janus==0.6.1
Jinja2==2.11.2
jmespath==0.9.5
joblib==1.2.0
JPype1==1.4.0
jsonschema==2.6.0
jwcrypto==1.4.2
keras==2.10.0
Keras-Applications==1.0.8
keras-ocr==0.9.1
Keras-Preprocessing==1.1.2
keyboard==0.13.5
keyring==23.5.0
kiwisolver==1.3.2
kombu==5.2.4
lazy-object-proxy==1.4.3
libclang==14.0.6
logging==0.4.9.6
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==3.14.0
matplotlib==3.4.3
mccabe==0.6.1
MeaningCloud-python==2.0.0
mediapipe==0.8.7.3
mergedeep==1.3.1
mock==4.0.3
moviepy==1.0.3
msgpack==1.0.3
mtcnn==0.1.1
mypy-extensions==0.4.3
mysql==0.0.3
mysqlclient==2.1.0
networkx==2.5.1
nicer==0.0.36
ninja==1.10.2.4
numpy==1.21.2
oauthlib==3.1.1
olefile==0.44
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.5.4.60
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.2.0
packaging==20.8
pandas==1.3.4
parse==1.18.0
passlib==1.7.4
pathlib==1.0.1
pathspec==0.9.0
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.1
pdfkit==0.6.1
peewee==3.14.10
pefile==2022.5.30
pexpect==4.8.0
phonenumbers==8.12.21
Pillow==9.2.0
Pint==0.16.1
pkginfo==1.8.2
pkt==0.0.21
placebo==0.9.0
platformdirs==2.4.0
playsound==1.3.0
pluggy==0.13.1
plyer==2.0.0
premailer==3.10.0
proglog==0.1.9
prompt-toolkit==3.0.29
proto-plus==1.22.1
protobuf==4.21.7
psycopg2==2.9.1
psycopg2-binary==2.8.6
ptyprocess==0.7.0
purl==1.5
py==1.11.0
py4j==0.10.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
pyclipper==1.3.0.post3
pycodestyle==2.6.0
pycparser==2.21
pydantic==1.10.2
pydotenv==0.0.7
pyee==7.0.4
pyFirmata==1.1.0
pyflakes==2.2.0
pyglet==1.5.21
Pygments==2.8.1
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
PyJWT==2.0.1
pylint==2.6.2
pymongo==3.12.0
pynput==1.7.6
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==1.26.0
pypiwin32==223
pyppeteer==0.2.3
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyquery==1.4.3
pyserial==3.5
PySocks==1.7.1
pysolr==3.9.0
pyspark==3.0.3
pyspark-stubs==3.0.0.post3
pystache==0.5.4
pytesseract==0.3.10
pytest==6.2.2
pytest-django==4.1.0
python-barcode==0.13.1
python-baseconv==1.2.2
python-bidi==0.4.2
python-dateutil==2.8.1
python-decouple==3.4
python-dotenv==0.19.1
python-engineio==3.13.2
python-jwt==4.0.0
python-multipart==0.0.5
python-pptx==0.6.21
python-slugify==4.0.0
python-socketio==4.6.0
python-telegram-bot==13.7
python-vlc==3.0.18121
python3-openid==3.2.0
pyttsx3==2.90
pytz==2019.3
PyWavelets==1.4.1
pywin32==227
pywin32-ctypes==0.2.0
PyYAML==5.4.1
pyzbar==0.1.8
qrcode==7.3.1
readme-renderer==35.0
redis==2.10.3
regex==2020.11.13
rel==0.4.7
reportlab==3.6.2
requests==2.25.1
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responses==0.20.0
rfc3986==1.4.0
rich==12.3.0
rows===-0.4.2-dev-71afc647-
rsa==4.9
Rx==3.2.0
schedule==1.1.0
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
segno==1.3.3
selenium==4.4.3
serial==0.0.97
service-identity==21.1.0
Shapely==1.8.4
simplejson==3.17.6
six==1.15.0
sniffio==1.2.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
sorl-thumbnail==12.6.3
sortedcontainers==2.4.0
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse==0.3.0
starlette==0.20.4
static3==0.7.0
Strip==0.0.1.dev14
stripe==2.61.0
svglib==1.1.0
tabulate==0.8.9
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2022.8.12
tinycss2==1.1.1
toml==0.10.0
tomli==1.2.2
torch==1.12.1
torchvision==0.13.1
tornado==6.1
tqdm==4.60.0
trio==0.21.0
trio-websocket==0.9.2
twilio==7.0.0
twine==4.0.0
Twisted==22.1.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typed-ast==1.4.2
typing==3.7.4.3
typing-extensions==3.7.4.3
tzdata==2021.1
tzlocal==3.0
ua-parser==0.10.0
ujson==5.4.0
undetected-chromedriver==2.1.1
unicodecsv==0.14.1
Unidecode==1.1.1
uritemplate==4.1.1
urllib3==1.26.4
utils==1.0.1
uuid==1.30
uvicorn==0.13.3
validators==0.20.0
vine==5.0.0
virtualenv==20.8.1
virtualenvwrapper-win==1.2.6
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.4.2
webdriverdownloader==1.1.0.3
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.2.3
websockets==8.1
Werkzeug==1.0.0
whitenoise==5.1.0
Willow==1.3
wrapt==1.12.1
wsgi-request-logger==0.4.6
wsproto==1.2.0
xhtml2pdf==0.2.5
xlrd==2.0.1
xls==0.0.2
XlsxWriter==3.0.1
xlutils==2.0.0
xlwt==1.3.0
yagmail==0.15.293
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.4.0
